:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: white;
  font-size: 12px;
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  place-content: center;
  row-gap: 40px;
}

header {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  column-gap: 16px;
}

label {
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  > :first-child {
    margin-left: 8px;
  }
}

input {
  text-align: right;
}

select,
input,
button {
  border: none;
  background-color: #2a2a2a;
  padding: 4px 6px;
  border-radius: 6px;
  outline: none;
  transition: background-color 100ms;

  &:hover {
    background-color: #373737;
  }
}

input + select {
  margin-left: 4px;
}

button {
  margin-left: auto;
  padding: 4px 12px;
  cursor: pointer;
}

table {
  justify-self: center;
}

thead tr:first-of-type {
  font-size: 14px;

  & th {
    padding-block: 8px;
  }
}

td {
  padding: 4px;

  &:not(:first-of-type) {
    min-width: 80px;
    text-align: center;

    color: rgba(255, 255, 255, 0.87);
  }

  &.result__cell--fastest {
    color: rgb(119, 243, 135);
  }

  &.result__cell--slowest {
    color: rgb(255, 110, 141);
  }
}
